@font-face {
    font-family: 'mr_dafoeregular';
    src: url('../../fonts/mrdafoe-regular-webfont.eot');
    src: url('../../fonts/mrdafoe-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/mrdafoe-regular-webfont.woff2') format('woff2'),
         url('../../fonts/mrdafoe-regular-webfont.woff') format('woff'),
         url('../../fonts/mrdafoe-regular-webfont.svg#mr_dafoeregular') format('svg'),
         url('../../fonts/MrDafoe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}